header {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 7px;
}

header a {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: .5s;
}

header a:houver {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.192);
}
